{% extends 'app/_layout/layout.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/app/song.css') }}">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block headerExtra %}

{% endblock %}


{% block header %}
  <header>
    <div class ="header-custom gap-5">
      <a href="{{ app.request.headers.get('referer') ?? path('app_repertoire') }}" class="flex items-center"><i class="icon icon-back-arrow icon-size-small bg-(--label-color)"></i></a>
      <h1 class="text-lg font-normal flex-1">{{ song.title }}</h1>
      <button type="button" data-action="modal#open" data-modal-url-param="{{ path('app_song_edit', {id:song.id}) }}"><i class="icon icon-edit icon-size-small !bg-(--text-color)"></i></button>
    </div>
  </header>
{% endblock %}

{% block content %}

  <section class="p-4 flex flex-col gap-8 items-center relative md:grid md:grid-cols-[200px_1fr] xl:col-span-2">
    {# header #}
    <img src="{{ asset('/uploads/artists/' ~ song.artist.coverFileName) }}" alt="Image du groupe {{ song.artist.name }}"
         class="rounded-4xl h-40 object-cover object-center w-full md:rounded-2xl" >

    <div class="flex flex-col items-start md:h-full">
      <div class="song-tag status-tag absolute top-8 right-8 rounded-4xl  {{  song.status.tagClass }}  md:static md:mb-2">
        <p class="text-base text-center">{{  song.status.label }} </p>
      </div>

      <div class="flex flex-col items-center md:items-start md:flex-1 md:justify-between">
        <h2 class="text-3xl font-bold  md:text-4xl md: font-extrabold">{{ song.title | upper }}</h2>
        <p class="text-xl font-light text-(--color-text-primary)">{{ song.artist.name }}</p>
        <div class="flex justify-center gap-6">
          <p class="song-tag"><i class="icon icon-time icon-size-extra-small !bg-(--text-color)"></i> {{ '%02d:%02d' | format((song.duration / 60) | round(0, 'floor'), song.duration % 60) }}</p>
          <p class="song-tag"><i class="icon icon-metronome icon-size-extra-small !bg-(--text-color)"></i> {{ song.bpm }} BPM</p>
        </div>
      </div>

    </div>
  </section>

  <section class="mb-16 xl:grid xl:grid-cols-[2fr_1fr] xl:grid-rows-2">
    <article class="p-4 flex flex-col gap-4 xl:bg-(--card-background-container) xl:rounded-4xl xl:m-4 xl:p-6">
      {# audio #}
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-light">Audio</h2>
        {% embed 'app/components/_contextual_menu.html.twig' with {link:'true',label:'Ajouter un fichier'} %}
          {% block items %}
            <button type="button" class="contextual-menu-item" data-action="modal#open" data-modal-url-param="{{ path('app_song_add_original_song',{id: song.id, request: song.originalSongFileName != '' ? 'edit' : '' }) }}" >Morceau original</button>
            <button type="button" class="contextual-menu-item" data-action="modal#open" data-modal-url-param="{{ path('app_song_add_backingtrack',{id: song.id}) }}">Backing track</button>
          {% endblock %}
        {% endembed %}
      </div>

      <div class="card card-flat p-4 !rounded-2xl flex gap-4 items-center {{ song.originalSongFileName == '' ? 'card-dotted': '' }}">
        {%  if song.originalSongFileName != '' %}
          <button type="button" class="btn-play-media"  aria-label="Jouer le morceau"></button>
          <p class="text-sm flex-1 font-bold">VERSION ORIGINALE</p>
          <button data-action="confirm#open" type="button" aria-label="Supprimer la version originale"
                  data-confirm-url-param="{{ path('app_song_original_song_delete', {id: song.id}) }}"
                  data-confirm-title-param="Voulez-vous supprimer la version originale ?">
          <i class="icon icon-trash icon-size-small"></i></button>
        {% else %}
          <p class="text-base text-(--label-color)">Ajoutez la version originale du morceau.</p>
        {% endif %}

      </div>
      <h2 class="text-xl font-light">
        Backing Tracks
      </h2>

      {% if song.backingTracks is not empty %}
        <ul class="grid gap-4 md:grid-cols-2 xl:grid-cols-1">
          {% for backingtrack in song.backingtracks %}
            {{ include('app/song/_backingtrack.html.twig') }}
          {% endfor %}
        </ul>
      {% else %}
      <div class="card card-flat card-dotted p-4 !rounded-2xl flex gap-4 items-center ">
        <p class="text-base text-(--label-color)">Aucun backing track pour ce morceau. Ajoutez-en un dès maintenant.</p>
      </div>
      {% endif %}


    </article>

    <article class="p-4 xl:row-span-2">
      <div class="card card-flat p-4 py-8 flex flex-col gap-4 !bg-(--card-background-container)">
        <h2 class="text-xl font-bold">Paroles (Aperçu)</h2>
        <p class="italic text-base flex-1 mb-6">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ab illo  inventer veritatis et quasi architecto beatae vitae dicta sunt  explicabo. Nemo enim ipsam voluptatem quia
          Quis autem vel eum iure reprehenderit qui in ea voluptate
        </p>
        <button class="btn btn-primary self-center !px-8" aria-label="Affichez les paroles complètes">Paroles complètes →</button>
      </div>
    </article>

    <aside class="p-4">
      <div class="flex justify-between items-center  mb-6">
        <h2 class="text-xl font-bold">Liens externes</h2>
        {% if song.songLinks is not empty %}
          {{ include('/app/song/_add_link_button.html.twig', {variant : 'links'}) }}
        {% endif %}
      </div>
      {% if song.songLinks is not empty %}
        <ul class="grid gap-6 md:grid-cols-2">
          {% for songLink in song.songLinks %}
            {% include('/app/song/_songLink.html.twig') %}
          {% endfor %}
        </ul>
      {% else %}
        <div class="card p-6 flex flex-col gap-2">
          <p class="text-2xl text-(--label-color)">Ajoute un lien externe</p>
          <div class="flex gap-4">
            <p class="text-(--text-color) text-base flex-1">Ajouter facilement un lien vers une vidéo youtube afin de partager avec les autres membres du groupe des version live, unplugged etc...</p>
            {{ include('/app/song/_add_link_button.html.twig', {variant : 'empty-links'}) }}
          </div>
        </div>
      {% endif %}
    </aside>
  </section>


  {# Modal popup : C'est ici que viendra s'inserer la popup d'ajout #}

{% endblock %}


{# {% embed 'app/components/_contextual_menu.html.twig' %}#}
{#   {% block items %}#}
{#     <button type="button" class="block w-full text-left p-2">Supprimer</button>#}
{#     <button type="button" class="block w-full text-left p-2">Modifier</button>#}
{#   {% endblock %}#}
{# {% endembed %}#}
