{% extends 'app/_layout/layout.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/app/repertoire.css') }}">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="{{ asset('app/repertoire.js') }}"></script>
{% endblock %}

{% block headerExtra %}

{% endblock %}



{% block content %}

  {# Modal popup : C'est ici que viendra s'inserer la popup d'ajout #}
  <turbo-frame id="modal"></turbo-frame>
  <div class="w-full">
    <div class="p-4">
      <figure class="overflow-hidden relative h-64">
        <img src="{{ asset('uploads/artists/' ~ song.artist.coverFileName) }}"
             alt="Illustration de {{ song.artist.name }}"
             class="rounded-4xl w-full">
        <figcaption class="absolute flex flex-col justify-end inset-0 pb-6 pl-6 bg-gradient-to-b from-transparent to-(--background-color)">
            <h2 class="text-3xl font-extrabold text-(--label-color)">{{ song.title }}</h2>
            <p class="text-xl font-light text-(--label-color)">{{ song.artist.name }}</p>
        </figcaption>
      </figure>
    </div>

    <div class="p-4">
      <div class="scrollable-">
        <section class="rounded-2xl bg-(--card-background-container) p-4 flex flex-col gap-4">
          <div class="flex justify-between">
            <h2 class="text-xl font-normal">Audio</h2>
            <button type="button" class="cursor-pointer flex items-center" aria-label="Acceder au menu de la section audio"><i class="icon icon-option-menu"></i></button>
          </div>

          <div class="card card-flat p-6 gap-4 flex items-center">
            <button class="btn-play-media" aria-label="Lire le morceau original"></button>
            <p class="text-base font-bold flex-1">VERSION ORIGINALE</p>
            <button type="button" class="cursor-pointer flex items-center" aria-label="Acceder aux options"><i class="icon icon-option-menu-side"></i></button>
          </div>

          <h3 class="text-xl font-normal">Backing tracks</h3>
          <ul>
            <li class="card card-flat p-6 gap-4 flex items-center">
              <button class="btn-play-media" aria-label="Lire le morceau original"></button>
              <div>
                <p>GUITARE<p>
                <p>Guitare principale - Standard E</p>
              </div>
            </li>
          </ul>
        </section>

        <article></article>
        <aside></aside>
      </div>
    </div>
  </div>

{% endblock %}
