<nav class="app-navbar">
  <div class="flex flex-col items-center">
    <img class="navbar-logo" src="{{ asset('/images/logo_64.png') }}" alt="Band Hub logo">
    <p class="app-nav-bar-heading">Band Hub</p>
  </div>
  <ul >
    <li {{ selectedTab == 'home' ? 'class="selected"' : '' }}>
      <a href="{{ path('app_home') }}">
        <div>
          <i class="navbar-icon dashboard"></i>
          <p class="hidden">Accueil</p>
        </div>
      </a>
    </li>


    <li {{ selectedTab == 'repertoire' ? 'class="selected"' : '' }}>
      <a href="{{ path('app_repertoire') }}">
        <div>
          <i class="navbar-icon repertoire"/>
          <p class="hidden">Repertoire</p>
        </div>
      </a>
    </li>

    <li {{ selectedTab == 'setlists' ? 'class="selected"' : '' }}>
      <a href="{{ path('app_setlists') }}">
        <div>
          <i class="navbar-icon setlists"></i>
          <p class="hidden">Setlists</p>
        </div>
      </a>
    </li>

    <li {{ selectedTab == 'events' ? 'class="selected"' : '' }}>
      <a href="{{ path('app_home') }}">
        <div>
          <i class="navbar-icon events"></i>
          <p class="hidden">Agenda</p>
        </div>
      </a>
    </li>

    <li {{ selectedTab == 'finances' ? 'class="selected"' : '' }}>
      <a href="{{ path('app_home') }}">
        <div>
          <i class="navbar-icon finances"></i>
          <p class="hidden">Finances</p>
        </div>
      </a>
    </li>

    <li {{ selectedTab == 'settings' ? 'class="selected"' : '' }}>
      <a href="{{ path('app_home') }}">
        <div>
          <i class="navbar-icon settings"></i>

          <p class="hidden">Paramètres</p>
        </div>
      </a>
    </li>

  </ul>
</nav>
