{% extends 'base.html.twig' %}
{% set currentRoute = app.request.attributes.get('_route') %}

{% block title %}{{pageTitle}}{% endblock %}


{% block body %}
  <div class="app-main-body" data-controller="confirm modal">
    {% block header %}
      {% set headerExtra %}{% block headerExtra %}{% endblock %}{% endset %}
      {{ include('/app/_layout/_header.html.twig', { headerExtra: headerExtra }) }}
    {% endblock %}

    <main class="app-main" >
      {% block content %}{% endblock %}
    </main>

    {{ include('/app/_layout/_navbar.html.twig') }}

    {# Dialogs frame #}
    {{ include('app/components/_dialog_confirm.html.twig') }}
    {{ include('app/components/_modal.html.twig') }}
  </div>

  {# ==== Gestion des TOASTS ==== #}
  {% for type, messages in app.flashes %}
    {% for message in messages %}
      <div class="toast toast-{{ type }}" data-controller="toast">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}



{% endblock %}
