<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BandHub</title>
  <link rel="stylesheet" href="{{ asset('styles/landing.css') }}">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
  <script src="https://kit.fontawesome.com/616adc9fde.js" crossorigin="anonymous"></script>
  {% block stylesheets %}
  {% endblock %}

  {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
  {% endblock %}

</head>
<body >

  <header class="grid p-8 text-center xl:grid-cols-[1fr_590px_590px_1fr]">
    <div class="flex flex-col gap-5 items-center xl:col-start-2 xl:col-span-1" >
      <img src="{{ asset('/images/brand-logo.png') }}" alt="BandHub logo" class="w-[94px]">
      <p class="text-4xl text-white font-extrabold">Band <span class="font-light">Hub</span></p>
      <h1 class="text-white text-4xl">Gérez votre groupe simplement</h1>
      <p class="text-white text-2xl ">
        L'outil tout-en-un conçu pour les musiciens
      </p>
      <a class="button w-full mt-28 mb-4 md:w-3/4 xl:w-xl">
        Commencez dès maintenant !
      </a>
    </div>

  </header>

<main class="grid my-10 gap-y-10 xl:grid-cols-[1fr_590px_590px_1fr]  xl:gap-x-5 xl:gap-y-10">
  <section class="grid gap-8 px-4 md:grid-cols-2 md:px-10 md:mt-10 xl:mt-0 xl:gap-4 xl:px-0  xl:col-start-2 xl:col-end-3">
    {% for feature in features %}
      {{ include('home/_feature.html.twig') }}
    {% endfor %}
  </section>

  <article class="flex flex-col gap-12 md:mt-10 xl:col-span-4  xl:flex-col-reverse">
    <header class="flex flex-col justify-between items-center gap-20 px-5 py-10">
      <h2 class="text-white text-3xl text-center">Prêt à <br>nous rejoindre ?</h2>
      <a class="button w-full md:w-[320px]"  href="">Explorez les possibilités de Band Hub</a>
    </header>
    <div class="flex flex-col gap-20 text-center py-10 px-4">
      <p class="text-4xl text-black font-medium">Centralisez la gestion de votre groupe</p>
      <div class="flex flex-col gap-0.5 text-xl font-light xl:text-3xl">
        <p>Band Hub simplifie tout</p>
        <p>En un seul outil</p>
      </div>
    </div>
  </article>

  <section class="bg-white flex flex-col items-center gap-20 p-4 md:p-12 xl:p-20 xl:row-start-2 xl:col-span-4">
    <h2 class="text-black text-4xl font-medium text-center">Une communauté à nos cotés</h2>
    <div class="flex flex-col gap-9 w-full xl:flex-row xl:justify-between xl:w-[1200px] xl:self-center xl:w-[1200]">
      {% for testimonial in testimonials %}
        {{ include('home/_testimonial.html.twig') }}
      {% endfor %}
    </div>
  </section>

  <article class="flex flex-col items-center gap-5 p-6 mx-4 rounded-3xl bg-(--color-primary) text-center md:gap-10 md:mx-12 xl:col-start-3 xl:col-end-4 xl:row-start-1 xl:mx-0 xl:gap-20">
    <h2 class="text-white text-3xl font-medium md:max-w-1/2 xl:text-4xl xl:py-10">Gérez votre groupe simplement, dès ajourd'hui</h2>
    <p class="text-white font-light text-xl">
      Des centaines de groupes utilisent déjà Band HUB pour gagner du temps et mieux s’organiser au quotidien.
    </p>
    <a class="button large w-full md:w-1/2 xl:!py-6 xl:!text-2xl" href="">Nous rejoindre</a>
  </article>
</main>

<footer class="px-2 my-15 md:px-12">
  <h2 class="text-2xl mb-10 font-bold">Band Hub</h2>
  <nav class="mb-5">
    <ul class="flex flex-col gap-2 text-2xl font-light md:flex-row md:gap-10">
      <li><a href="">Fonctionnalités</a></li>
      <li><a href="">Tarifs</a></li>
      <li><a href="">Vie privées</a></li>
      <li><a href="">Mentions légales</a></li>
    </ul>
  </nav>

  <nav class="mb-10">
    <ul class="flex gap-10 justify-center items-center text-gray-500 text-4xl">
      <li title="Youtube"><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
      <li title="Facebook"><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
      <li title="discord"><a href="#"><i class="fa-brands fa-discord"></i></a></li>
      <li title="X - tweeter"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
    </ul>
  </nav>
</footer>
</body>
</html>
