{% extends 'app/_layout/layout.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/app/repertoire.css') }}">
{% endblock %}

  {% block headerExtra %}

  {% endblock %}

{% block content %}

  {# Modal popup : C'est ici que viendra s'inserer la popup d'ajout #}
  <turbo-frame id="modal"></turbo-frame>


  <nav class="navbar-tabs">
    <ul>
      <li>
        <a href="{{ path('app_repertoire') }}" class="tab-item {{ filter is null ? 'active' : '' }}">
          <span>Tous les morceaux</span>
          <span class="tag">{{ total }}</span>
        </a>
      </li>
      <li>
        <a href="{{ path('app_repertoire', {pending: ''}) }}" class="tab-item {{ filter?.value == 'pending' ? 'active' : '' }}">
          <span><i class="icon icon-vote icon-size-extra-small"></i>A voter</span>
          <span class="tag">{{ counts.pending ?? 0 }}</span>
        </a>
      </li>
      <li>
          <a href="{{ path('app_repertoire', {learning: ''}) }}" class="tab-item {{ filter?.value == 'learning' ? 'active' : '' }}">
          <span><i class="icon icon-flash icon-size-extra-small"></i>A apprendre</span>
          <span class="tag">{{ counts.learning ?? 0 }}</span>
        </a>
      </li>
      <li>
          <a href="{{ path('app_repertoire', {validated: ''}) }}" class="tab-item {{ filter?.value == 'validated' ? 'active' : '' }}">
          <span><i class="icon icon-success icon-size-extra-small"></i>Validés</span>
          <span class="tag">{{ counts.validated ?? 0 }}</span>
        </a>
      </li>

    </ul>
  </nav>

  <div class="flex self-stretch pr-2 w-full gap-6 xl:justify-between">
    <div class="search-input cursor-pointer h-full w-full md:w-2/3 xl:w-[660px]">
      <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"/></svg>
      <input type="text" placeholder="Rechercher une chanson" class="text-base">
    </div>

    <a role="button"  data-turbo-frame="modal" href="{{ path('app_song_create') }}" class="hidden md:inline-block btn btn-primary w-full max-w-1/3 text-center xl:w-80" aria-label="Ajouter une chanson">
      Ajouter une chanson
    </a>
  </div>


  <div class="scrollable-container pr-2">
    <ul class="flex flex-col gap-6 md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 xl:gap-6">
      {% for song in songs %}
        {{ include('/app/repertoire/_song-card.html.twig',{icon: song.status.icon()}) }}
      {% endfor %}
    </ul>
  </div>


  <a role="button" data-turbo-frame="modal" href="{{ path('app_song_create') }}" class="btn btn-primary fixed bottom-[80px] right-[10px] flex justify-center items-center md:hidden md:aria-hidden:" aria-label="Ajouter une chanson">
    <i class="icon icon-add !bg-white"></i>
  </a>

{% endblock %}
